# Copyright 2026 edcsnt. All rights reserved.
# exercise good judgment instead of mechanically quoting everything
disable=SC2046,SC2086,SC2248,SC2249,SC2250
enable=all
external-sources=true
# conform strictly to POSIX
shell=sh
