---
# Copyright 2026 edcsnt. All rights reserved.
name: checkbashisms
# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/checkbashisms.yaml
      - kros
  workflow_dispatch: {}
permissions: {}
defaults:
  run:
    shell: sh
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true
jobs:
  checkbashisms:
    runs-on:
      - ubuntu-latest
    steps:
      # yamllint disable rule:line-length
      - run: |
          curl -fo /usr/local/bin/checkbashisms \
          https://salsa.debian.org/debian/devscripts/-/raw/v2.26.3/scripts/checkbashisms.pl \
          -OSs \
          https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/${{ github.ref_name }}/kros
          chmod +x /usr/local/bin/checkbashisms
          checkbashisms -pflx kros
      # yamllint enable rule:line-length
    timeout-minutes: 1
...
